<section>
  <h1>About Me</h1>

    <div id="josh-frame"><div id="josh-headshot"></div></div>

 	<p>I am the co-founder of <a href="http://www.zosh.com">Zosh</a> a company that was
	recently acquired by <a href="http://yousendit.com">YouSendIt</a>.  Currently I am Director of Product at <a href="http://www.macheen.com">Macheen</a> the leading enabler in "Internet included" connected devices.  I am also a mentor at <a href="http://www.capitalfactory.com">Capital Factory</a> an early stage startup accelerator in Austin, TX.  &nbsp;<a href="/about/">Read more</a>.</p>
</section>
