<!--Fonts from Google's Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> 
<script type="text/javascript" src="/javascripts/icanhaz.min.js"></script>
<script type="text/javascript">
	function params()
  {
      var vars = [], hash;
      var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
      for(var i = 0; i < hashes.length; i++)
      {
          hash = hashes[i].split('=');
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
      }
      return vars;
	}

	$(document).ready(function() {
        if(params()['q'])
        {
        	var query = params()['q'];
      		$('div#search_results p#loading').show();
          
         	var result = $.getJSON('http://8mk3o.api.indextank.com/v1/indexes/joshkerr_index/search?q=' + encodeURIComponent(query) + '&fetch=title&snippet=text&callback=?', function(data) {
            	$('div#search_results div#inner').empty();
              
            	$.each(data.results, function(index, result) {
                    result['domain'] = window.location.hostname;
                    $('div#search_results div#inner').append('<div id="result">\
      			<p><a href="http://joshkerr.com' + result.docid + '">' + result.title + '</a><br/>\
      			' + result.snippet_text + '</p>\
    		</div');
                });

                if(data.results.length == 0)
                {
                    $('div#search_results div#inner').append('<p>Sorry, nothing found.</p>');
                }

                $('div#search_results p#loading').hide();
            });
        }
	});
</script>