{% unless page.no_header %}
    {% if index %}    
    <div class="entry-item">
		<div class="entry-date">{% include post/date.html %}{{ time }}</div>
      	<div class="entry-subject"><a href="{{ root_url }}{{ post.url }}">{{ post.title | titlecase }}</a></div>
    </div>
    {% else %}
	  <header>
      <h3 class="entry-title">{{ page.title | titlecase }}</h3>
      <p class="meta">{% include post/date.html %}{{ time }}</p>
	</header>
	<div class="entry-content">{{ content }}</div>
	{% endif %}  
{% endunless %}
