---
layout: page
title: Archived
category: featured
permalink: /test/
---

{% assign index = true %}

<div class="blog-index">
{% for year in site.years %}                                                                                    
   <h2>{{ year.first.first.date | date: "%Y" }}</h2>                                                        
	{% for month in year %}                                                                                       
     <h3>{{ month.first.date | date: "%B" }}</h3>                                                          
    	{% for post in month %}         
    	
    	  {% assign content = post.content %}
		    <article>
      		{% include article.html %}
    		</article>
    	    	                                                                    
    	{% endfor %}                                                                                                    
	{% endfor %}                                                                                                 	
{% endfor %}   
</div>