// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#blog-archives h1, #blog-archives h1 a{
	font-size: 18px;
}

#blog-archives article{
	padding-top:.4em;
	padding-bottom: .4em;
}

#josh-frame{
	height: 164px;
	width: 200px;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #aaa;
	margin-bottom: 10px;
   margin-top: 10px;
   margin-left:auto;
   margin-right:auto;
}

#josh-headshot{
	background-image: url(http://joshkerr.s3.amazonaws.com/images/cameragreysm.png);
	height: 164px;
	width: 200px;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
}


div.entry-date {
float: left;	
font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif; 
}

div.entry-subject{
	float: left;
	text-indent: 15px;
}

div.entry-subject a {
	text-decoration: none;
}

div.entry-date{
	color: #aaa;
}

#content div.blog-index article {
	padding: 5px;
	margin-left: 45px;
	
}

div.blog-index {
	margin-top: 65px;
}

div.entry-item {
	float: left;
}
#content div.blog-index h3 {
	padding-top: 10px;
	margin-left: 45px;
}

form#search {
	margin-bottom: 30px;	
}

input#query {
	width: 200px;
	height: 20px;
}

p#search-credit {
	font-size: 13px;
}

aside.sidebar.thirds section
{width:90%;}

#bookmarks {
	list-style: square;
	color: #ccc;
}
#bookmarks li{
	padding: 10px;
	border-bottom: 1px dashed ;
}

#content div article ul.archive {
	list-style: none;
	color: #ccc;
}
#content div article ul.archive li {
	padding: 10px;
	border-bottom: 1px dashed ;

}

#content div article ul.archive li a{
	white-space: nowrap;
}
	
#content div article ul.archive li div.archive-date {
float: left;
padding-right: 10px;	
}
#related-posts {
	list-style: square;
	color: #ccc;
}

#content div article.hentry footer h3 {
	padding-top: 30px;
}

#related-posts li{
	padding: 1px;

}
p{font-size:15px;}

div.blog-index h2{ margin-left:50px; }